{% extends "lfs/base.html" %}
{% load i18n %}

{% block section %}{% endblock %}

{% block content %}
    <h1>{% trans 'Please wait' %}</h1>

    <p>{% trans 'You will be automatically redirect to the payment page in a few seconds' %}</p>

        <form action="{{ ACTION }}" method="POST" id="cartasi" name="cartasi">
            <input type="hidden" name="TERMINAL_ID" value="{{ TERMINAL_ID }}">
            <input type="hidden" name="TRANSACTION_ID" value="{{ TRANSACTION_ID }}">
            <input type="hidden" name="ACTION_CODE" value="{{ ACTION_CODE }}">
            <input type="hidden" name="AMOUNT" value="{{ AMOUNT }}">
            <input type="hidden" name="CURRENCY" value="{{ CURRENCY }}">
            <input type="hidden" name="LANGUAGE" value="{{ LANGUAGE}}">
            <input type="hidden" name="NOTIFICATION_URL" value="{{ NOTIFICATION_URL }}">
            <input type="hidden" name="RESULT_URL" value="{{ RESULT_URL }}">
            <input type="hidden" name="ERROR_URL" value="{{ ERROR_URL }}">
            <input type="hidden" name="ANNULMENT_URL" value="{{ ANNULMENT_URL }}">
            <input type="hidden" name="MAC" value="{{ MAC }}">
            <input type="hidden" name="VERSION_CODE" value="{{ VERSION_CODE }}">
            <input type="hidden" name="EMAIL" value="{{ EMAIL }}">
            <input type="hidden" name="ORDER_DESC" value="{{ ORDER_DESC }}">
            <input type="hidden" name="CO_PLATFORM" value="{{ CO_PLATFORM }}">
            <input type="hidden" name="MESSAGE_TYPE" value="{{ MESSAGE_TYPE }}">

            <noscript>
                <p>{% trans 'ATTENTION: in order to pay by Cartasi you need to enable Javascript on your browser. Please enable Javascript and repeat the operation.' %}</p>
            </noscript>
        </form> 

        <script type="text/javascript">
            document.cartasi.submit();
        </script>

{% endblock %}
